@import 'variables';
@import 'normalize';
@import 'mixins';
@import 'slider';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,700,700i&display=swap&subset=cyrillic');
* {
	box-sizing: border-box;
}
html {
	min-height: 100%;
	font-size: 16px;
	color: #7a7b7f;
	background: linear-gradient(to bottom left, #df2771, #ff512f);
}
body {
	font: 1.5rem/1.6 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	color: #df2771;
	@include hover {
		color: blueviolet;
	}
}
.container {	
	margin: 7% auto 0;
	max-width: 465px;
	background-color: #fff;
	padding: 25px;
	border-radius: 5px;
	.widgetform {
		.form__input {
			background-color: #f0f0f0; 
			font-size: 14px;
			padding: 15px;
			border-radius: 5px;
			border: 1px solid #f0f0f0;
		} 
		.headerform {
			text-align: left;
			vertical-align: middle;
			width: 100%;
			h1 {
				display: inline-block;
				font-size: 24px;
				color: #1b1c1d;
			}
		}
		p {
			font-size: 13px;
		}
		.form {
			width: 100%;
			display: flex;
			flex-direction: column;
			.position {
				display: flex;
				justify-content: space-between;
			}
			&__input {
				width: 100%;
				margin: 10px 0 10px 0;
				&--1-2 {
					width: 48%;
				}
				@include hover {
					transform: scale(1.1);
					outline: none;
				}
			}
			&__button {
				text-align: center;
				background-color: #ea355a;
				border-radius: 5px;
				padding: 10px;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				box-shadow: 0 3px rgba(189, 25, 90, 0.8);
				margin: 10px 0 15px 0;
				@include hover {
					transform: scale(1.1);
				}
			}
			small {
				font-size: 12px;
				color: #7a7b7f;
				margin-bottom: 25px;
			}
		}
	}
}